# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and test Node.js app - harmonysocial-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "24.x"
          cache: "pnpm"

      - name: install dependencies
        run: |
          pnpm install

      - name: execute unit test
        run: |
          pnpm test

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "24.x"
          cache: "pnpm"

      - name: and build
        run: |
          pnpm install
          pnpm run build

      # - name: Upload artifact for deployment job
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: node-app

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build

  #   environment: prod_env

  #   steps:
  #     - name: Download artifact from build job
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: node-app

  #     - name: 'Deploy to Azure Web App'
  #       id: deploy-to-webapp
  #       uses: azure/webapps-deploy@v3
  #       with:
  #         app-name: 'harmonysocial-api'
  #         slot-name: 'Production'
  #         package: .

  #         publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_9F668B43980F4E7B9EADCE48CAA4C80B }}
